@import "./variables";

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

body{
    background-color: $primary_color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .main_layout{
        background-color: cornsilk;
        border-radius: 12px;
        padding: 20px 25px 40px;
        width: 50%;
        h1{
            text-align: center;
        }
        .price_input{
            padding: 10px;
            background-color:$primary_color;
            border-radius: 10px;
            display: inline-flex;
            width: 100%;
            -moz-appearance: textfield;
            .separator{
                margin-left: 30px;
                margin-right: 30px;
                display: flex;
                align-items: center;
                margin-top: 15px;
                justify-content: center;
            }
            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button{
                -webkit-appearance: none;
            }
            .price_field{
                width: 100%;
                text-align: center;
                input{
                    border-radius: 5px;
                    border: none;
                    padding: 5px;
                    width: 100%;
                }
            }
        }
        .slider{
            margin-top: 30px;
            height: 5px;
            background-color: rgb(223, 221, 219);
            border-radius: 5px;
            position: relative;
            .progress{
                height: 5px;
                background: $primary_color;
                left: 25%;
                right: 25%;
                position: absolute;
                border-radius: 5px;
            }
        }
        .range_input{
            position: relative;
            input{
                position: absolute;
                top: -5px;
                height: 5px;
                width: 100%;
                background: none;
                pointer-events: none;
                -webkit-appearance: none;
            }
            input[type="range"]::-webkit-slider-thumb{
                height: 17px;
                width: 17px;
                border-radius: 50%;
                pointer-events: auto;
                -webkit-appearance: none;
                background: $primary_color;
            }
            input[type="range"]::-moz-range-thumb{
                height: 17px;
                width: 17px;
                border-radius: 50%;
                border: none;
                pointer-events: auto;
                -moz-appearance: none;
                background: $primary_color;
            }
        }
    }
}